
.myFooter {
    padding-top: 50px;
    background-color: #0747a6;
}

.navbar-button {
    color: rgba(255,255,255,.8);
    font-size: 14px;
    text-align: center;
}

.navbar-button:hover {
    color: #ffffff
}

.nav-section-header {
    font-weight: 600;
    color: #ffffff;
    opacity: 0.5;
    text-transform: uppercase;
}

.copyright {
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: left;
    font-size: 14px;
    color: #ffffff;
    opacity: 0.6;
}

.send {
    padding-top: 10px;
    text-align: left;
    font-size: 14px;
    color: #ffffff;
    opacity: 0.6;
}

.light-text {
    color: #ffffff;
    opacity: 0.8;
}